html, body {
  font-family: 'Aktiv Grotesk Corp', sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

*:focus {
  outline: none;
}

a, h3 {
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

h3, h2 {
  cursor: default;
}

a:hover {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

p {
  color: #665757;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

i {
  font-weight: normal;
}

.header {
  background:
    url('../img/header-mobile.png') no-repeat 50% 100%,
    url('../img/header-bg.png') no-repeat 50% 50%,
    linear-gradient(45deg, rgb(255, 88, 88) 0%, rgb(248, 87, 166) 70%) center;
  padding-top: 60px;
  padding-bottom: 215px;
}

.header a {
  color: #ffffff;
}

.header a:hover,
.header a:focus {
  opacity: 0.5;
  transition: .15s ease-in-out;
}

.navbar-brand {
  z-index: 3;
}

.navbar-brand span {
  margin-left: 15px;
  font-weight: bold;
  font-size: 23px;
}

.navbar {
  margin-bottom: 208px;
}

.btn-outline-light {
  border-radius: 25px;
  padding: 9px 20px;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.toggle-btn {
  display: none;
  z-index: 10;
  cursor: pointer;
}

.toggle-btn .bar {
  width: 35px;
  height: 3px;
  border-radius: 3px;
  margin: 7px auto;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.toggle-btn:hover .bar {
  background: rgba(255, 255, 255, 1);
}

#toggle:checked+label.toggle-btn .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
  background: rgba(255, 255, 255, 1);
}

#toggle:checked+label.toggle-btn .bar:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}

#toggle:checked+label.toggle-btn .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background: rgba(255, 255, 255, 1);
}

.nav__item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin-right: 40px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  opacity: 1;
}

.nav__item:last-child {
  margin-left: 0px;
  width: max-content;
}

.nav__item:last-child button:hover a {
  color: #000000;
}

.nav__item:last-child a:hover {
  opacity: 1;
}

.header h2 {
  font-size: 50px;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
}

.offer-title {
  margin-bottom: 42px;
}

.android span, .ios span {
  vertical-align: super;
}

.android i, .ios i {
  margin-right: 13px;
}

.ios {
  margin-right: 20px;
}

.latest-news {
  padding: 36px 40px;
  background: #ececec;
  margin-bottom: 150px;
}

.latest-news p {
  margin: 0;
}

.latest-news .link-1 {
  padding: 5px 10px;
  margin-right: 20px;
  color: #ffffff;
  background: linear-gradient(45deg, rgb(255, 88, 88) 0%, rgb(248, 87, 166) 70%) center;
  transition: .15s ease-in-out;
  border-radius: 19px;
}

.latest-news .link-1:hover,
.latest-news .link-1:focus {
  transition: .15s ease-in-out;
  box-shadow: 0px 0px 5px 0px rgba(248, 87, 166, 1);
}

.latest-news .link-2 {
  color: #ff8a8a;
  font-weight: bold;
  text-transform: none;
}

.latest-news .link-2:hover,
.latest-news .link-2:focus {
  transition: .15s ease-in-out;
  color: #ff6d6d;
}

.reasons {
  background: url('../img/reasons-mobile.png') no-repeat 50% 100%;
  color: #665757;
}

.reasons h2 {
  margin-bottom: 100px;
}

.reasons-text {
  padding-bottom: 240px;
}

.reasons-text h3 {
  margin-bottom: 20px;
}

.reasons-text i {
  color: #ff5858;
  font-size: 32px;
  line-height: 24px;
  border: 2px solid rgba(255, 88, 88, 0.2);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 16px;
  margin-bottom: 25px;
}

.reasons-text__item:nth-child(3) i {
  padding-left: 15px;
}

.reasons-text__item:last-child i {
  padding-left: 13px;
}

.reasons-text .row {
  height: 385px;
  /* border: 1px solid black; */
}

.reasons-2 {
  background:
    url('../img/reasons-2-shape.png') no-repeat bottom,
    linear-gradient(0deg, rgb(52, 49, 65) 0%, rgb(86, 79, 99) 100%);
  color: #ffffff;
  padding-top: 140px;
}

.reasons-2 h2 {
  margin-bottom: 23px;
}

.reasons-2 p {
  color: #ffffff;
  margin-bottom: 79px;
  max-width: 720px;
}

.tumblers {
  height: 7px;
  margin-bottom: 25px;
  background: url('../img/reasons-2-tumblers.png') no-repeat center;
}

.reasons-2-text {
  padding-bottom: 177px;
}

.container.reasons-2-text {
  max-width: 1110px;
}

.reasons-2-text .row {
  height: 275px;
}

.reasons-2-text__item {
  background: url('../img/tooltip-base.png') no-repeat 50% -5px;
  padding: 47px 40px;
}

.reasons-2-text__item h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #ff5858;
}

.reasons-2-text__item p {
  color: #665757;
  width: 275px;
}

.track-progress {
  padding-top: 142px;
  margin-bottom: 100px;
}

.track-progress h2 {
  margin-bottom: 17px;
}

.track-progress .tumblers {
  margin-bottom: 23px;
}

.track-progress p {
  margin-bottom: 144px;
}

.stats h3 {
  font-weight: 300;
  font-size: 23px;
  line-height: 24px;
  color: #665757;
  margin-bottom: 21px;
}

.stats p {
  font-size: 15px;
  line-height: 24px;
  width: 195px;
  margin: 0 auto;
}

.stats .percents {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  margin-bottom: 27px;
}

.percents>svg {
  width: 100%;
  display: block;
  transform: rotate(90deg) scale(-1, 1);
}

.percents-text {
  font-size: 30px;
  color: #665757;
  font-weight: bold;
}

/* .percents.percents-25 {
  background: url('../img/percents-25.svg') no-repeat 100% 0%;
}

.percents.percents-50 {
  background: url('../img/percents-50.svg') no-repeat 100% 0%;
}

.percents.percents-75 {
  background: url('../img/percents-75.svg') no-repeat 100% 0%;
}

.percents.percents-100 {
  background: url('../img/percents-100.svg') no-repeat 100% 0%;
} */
.advantages {
  padding-bottom: 150px;
  padding-top: 370px;
  color: #ffffff;
  background: url(../img/track-progress-mobile.png) no-repeat 50% 0%, linear-gradient(to right, #343141 95px, #564f63 100%) 0px 120px no-repeat;
}

.advantages h2 {
  margin-bottom: 100px;
}

.advantages-item i {
  align-self: center;
  color: #ff5858;
  font-size: 32px;
  border: 2px solid rgba(255, 88, 88, 0.2);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 15px 15px;
  margin-bottom: 25px;
  margin-right: 20px;
}

.advantages-items .far.fa-lightbulb {
  padding: 15px 20px;
}

.advantages-items .fa.fa-tachometer {
  padding: 12px 13px;
}

.advantages-items .fa.fa-book {
  padding: 15px 17px;
}

.advantages-item p {
  color: inherit;
  font-weight: 300;
}

.video {
  background: linear-gradient(transparent 50%, rgb(255, 255, 255) 50%), linear-gradient(to right, #343141 95px, #564f63 100%);
  margin-bottom: 140px;
}

.video img {
  max-width: 100%;
  max-height: 100%;
}

.reviews h2 {
  margin-bottom: 18px;
}

.reviews .tumblers {
  margin-bottom: 23px;
}

.reviews p {
  margin-bottom: 95px;
}

.user-review {
  position: relative;
  padding: 50px;
  border: 1px solid #e0e0e0;
  margin-bottom: 100px;
  border-radius: 6px;
}

.user-review h3 {
  text-align: center;
  text-transform: none;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  color: #665757;
  margin-bottom: 21px;
}

.user-review p {
  margin: 0;
}

.user-review a {
  color: #ff6d6d;
  font-weight: bold;
  text-transform: none;
}

.user-review a:hover,
.user-review a:focus {
  transition: .15s ease-in-out;
  color: #ff8a8a;
}

.rating {
  justify-content: center;
  margin-bottom: 20px;
}

.star-checked {
  background: url('../img/star-checked.svg') 0 0 no-repeat;
  height: 17px;
  width: 18px;
}

.star {
  background: url('../img/star.svg') 0 0 no-repeat;
  height: 20px;
  width: 20px;
}

.user-avatar {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60px;
  height: 60px;
  background: url('../img/user.png')
}

.brands {
  flex-wrap: wrap;
  justify-content: space-between;
}

.brands img {
  height: auto;
  margin-bottom: 100px;
  opacity: 0.3;
  transition: opacity 0.6s ease;
  filter: grayscale(100%);
}

.brands img:hover,
.brands img:focus {
  opacity: 1;
  filter: none;
  transition: opacity 0.6s ease;
}

.paid-plans {
  background: #ebebeb;
  padding-top: 142px;
}

.paid-plans h2 {
  margin-bottom: 95px;
}

.paid-plans .row:nth-child(2) {
  min-height: 488px;
}

.paid-plans__item {
  background: linear-gradient(#ffffff 95px, #ffffff 100%) 0px 160px no-repeat, linear-gradient(45deg, #ff5858 95px, #f857a6 100%) 0px 0px no-repeat;
  padding-top: 48px;
  box-shadow: 0px 0px 36px -12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: .15s ease-in-out;
  margin-bottom: 150px;
}

.paid-plans__item:hover,
.paid-plans__item:focus {
  transition: .15s ease-in-out;
  box-shadow: 0px 0px 36px -12px rgba(0, 0, 0, 0.4);
}

.paid-plans__item h3 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-transform: none;
  margin-bottom: 4px;
}

.paid-plans__item p {
  font-size: 23px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 48px;
}

.paid-plans__item ul {
  padding: 43px 0px;
}

.paid-plans__item ul li {
  position: relative;
  font-size: 14px;
  line-height: 34px;
  font-weight: normal;
  color: #665757;
  text-align: left;
  margin-left: 85px;
}

.paid-plans__item ul li::before {
  position: absolute;
  top: 5px;
  left: -33px;
  content: "";
  width: 24px;
  height: 24px;
  background: url('../img/checkbox-checked.png')
}

.get-suada {
  background:
    url('../img/header-bg.png') no-repeat 100% 50%,
    linear-gradient(45deg, rgb(255, 88, 88) 0%, rgb(248, 87, 166) 70%) center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}

.get-suada .mobiles {
  min-height: 430px;
  background:
    url('../img/get-suada-mobile.png') no-repeat 0% 50%;
  background-size: contain;
}

.get-suada h2 {
  margin-bottom: 40px;
}

.footer {
  background: #373445;
  padding-top: 147px;
  padding-bottom: 150px;
}

.footer h3 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 20px;
}

.footer .footer-navigation {
  margin-bottom: 100px;
}

.footer-navigation a {
  font-size: 14px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: none;
  transition: .15s ease-in-out;
  font-weight: normal;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.5;
  transition: .15s ease-in-out;
}

.footer .row>div:nth-child(5) {
  margin-bottom: 110px;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 20px;
}

.search_input {
  border: 0;
  outline: 0;
  background: none;
  width: 55%;
  transition: width 0.4s linear;
  padding: 7px;
}

.searchbar a {
  padding: 10px 20px;
  color: #ffffff;
  background: linear-gradient(45deg, rgb(255, 88, 88) 0%, rgb(248, 87, 166) 70%) center;
  border-radius: 19px;
}

.searchbar a:hover,
.searchbar a:focus {
  transition: .15s ease-in-out;
  box-shadow: 0px 0px 5px 0px rgba(248, 87, 166, 1);
}

.social {
  margin-bottom: 100px;
}

.social i {
  color: #ffffff;
  font-size: 24px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 10px;
  margin-right: 20px;
}

.social a:hover,
.social a:focus {
  opacity: 0.5;
  transition: .15s ease-in-out;
}

.social .fa-facebook-f {
  padding-left: 14px;
}

.social .fa-instagram {
  padding-left: 11px;
}

.copyright {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.copyright img {
  margin-right: 20px;
}

.loading {
  overflow: hidden;
  height: 100vh;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fbfbfb url('../img/loader.gif') no-repeat center center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}



@media (max-width: 979px) {
  .reasons {
    background: none;
  }

  .reasons-2-title-text {
    width: auto;
  }

  .reasons-2-text .row {
    height: auto;
  }

  .track-progress {
    margin-bottom: 0;
  }

  .reasons-text {
    padding-bottom: 50px;
  }

  .reasons-2-text {
    padding-bottom: 50px;
  }

  .reasons-2,
  .track-progress,
  .paid-plans {
    padding-top: 80px;
  }

  .reviews .video,
  .paid-plans__item {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 2em;
    padding-right: 2em;
  }

  .toggle-btn {
    display: block;
  }

  .navbar-nav {
    padding-top: 20vh;
    background: linear-gradient(45deg, rgb(255, 88, 88) 0%, rgb(248, 87, 166) 70%) center;
    position: fixed;
    left: 0%;
    top: 0%;
    margin: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  .navbar-nav .nav__item a {
    font-size: 23px;
  }

  #toggle:checked~.navbar-nav {
    opacity: 1;
    visibility: visible;
  }

  h2:not(.paid-plans-title):not(.offer-title) {
    font-size: 2em;
    margin-bottom: 1.5em !important;
  }

  p:not(.user-rewiew-text):not(.latest-news-text) {
    margin-bottom: 50px !important;
  }

  .tumblers {
    margin-bottom: 3em !important;
  }

  .latest-news {
    margin-bottom: 5em;
  }

  .navbar {
    margin-bottom: 100px;
  }

  .nav__item {
    margin-right: 0;
  }

  .reasons-text .row,
  .reasons-2-text .row {
    height: auto;
  }

  .offer div {
    text-align: center;
  }

  .header {
    background: linear-gradient(45deg, rgb(255, 88, 88) 0%, rgb(248, 87, 166) 70%) center;
    /* padding-bottom: 150px; */
  }

  .latest-news .link-1 {
    margin-bottom: 10px;
  }

  .reasons-2-text .row {
    height: auto;
  }

  .advantages {
    background: linear-gradient(to right, #343141 95px, #564f63 100%) 0px 50px no-repeat;
    padding-top: 8em;
    padding-bottom: 1em;
  }

  .nav__item:first-child {
    margin-top: 40px;
  }

  .navbar-nav .nav__item {
    margin-bottom: 20px;
  }

  .get-suada .mobiles {
    display: none;
  }

  .get-suada {
    text-align: center;
  }

  .user-review {
    margin-top: 3em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 576px) {
  .brands img {
    /* width: 4em; */
  }

  .copyright {
    width: auto;
  }

  .btn-outline-light {
    font-size: 12px;
    padding: 5px 10px;
  }
  .btn-outline-light i{
    margin-right: 2px;
  }
}
